/* Dashboard.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #343a40;
    margin-top: 20px;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .table-container {
    margin: 20px auto;
    width: 90%;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid black;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
    border: 1px solid black;    
  }
  
  th {
    color: rgb(0, 0, 0);
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .chart-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto;
  }
  
  .chart-container div {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .chart-container div {
      width: 90%;
      height: auto;
    }
  }